.header {
  color: #000;
  height: 80px;
  background-color: #fff;
}
.header .header-top {
  height: 40px;
  border-bottom: 1px solid #1DA57A;
  text-align: right;
  line-height: 40px;
}
.header .header-top .btn-screen {
  margin-right: 10px;
}
.header .header-top .btn-lgout {
  margin-right: 20px;
}
.header .header-bottom {
  display: flex;
  line-height: 40px;
}
.header .header-bottom .title {
  position: relative;
  width: 25%;
  text-align: center;
  font-size: 24px;
}
.header .header-bottom .title::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -38px;
  content: '';
  border-top: 20px solid #ffffff;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
}
.header .header-bottom .data-info {
  text-align: right;
  width: 75%;
}
.header .header-bottom .data-info .temp {
  margin-right: 20px;
}
.header .header-bottom .data-info .weather {
  margin: 0 10px;
}
